<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'registration/css/bootstrap.css' %}"/>
    </head>
<body>
    <div class="col-md-2"></div>
    <div class="col-md-8 well">
        <h3 class="text-primary" style="text-align:center;">Registration Form </h3>
        <hr style="border-top:1px dotted #000;" />
        {% block body %}
        {% endblock %}
    </div>

</body>
</html>